.my-text, .store-main-slogan, a, p, input, .form-label, .form-button, .my-links, .my-nav-links, .my-brand, .my-nav, .my-mobile-nav, body, html {
  font-family: "Times New Roman", Times, serif;
  color: #4b5658;
}

body, html {
  background-color: white;
  overflow-x: hidden;
}
@media screen and (max-width: 1000px) {
  body, html {
    font-size: 1.5em;
  }
}

.my-nav, .my-mobile-nav {
  background-color: #133c7d;
  box-shadow: 0px 1px 15px 1px black;
  color: #4b5658;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
@media screen and (max-width: 1000px) {
  .my-nav, .my-mobile-nav {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .my-mobile-nav {
    display: grid;
  }
}
@media screen and (min-width: 1000px) {
  .my-mobile-nav {
    display: none;
  }
}

.my-brand {
  color: #FFFF33;
  padding: 5px;
  font-size: 40px;
  text-shadow: 0px 4px 10px black;
}
@media screen and (max-width: 1000px) {
  .my-brand {
    font-size: 2em;
  }
}

.my-brand:hover {
  color: #FFFF33;
  text-decoration: none;
}

.main-app-div {
  margin-left: 10px;
  padding: 10px;
}

.my-links, .my-nav-links {
  font-size: larger;
  padding: 10px;
  margin: 10px;
}

.my-links:hover, .my-nav-links:hover {
  color: #171b1c;
  text-decoration: none;
}

.my-nav-links {
  float: right;
  color: #FFFF33;
}

.my-nav-links:hover {
  color: #FFFF33;
  text-decoration: none;
}

.error-message {
  text-align: center;
  color: red;
}

.form-button {
  text-align: center;
  background-color: #133c7d;
  color: #FFFF33;
  padding: 5px;
  border-radius: 10px;
}

.form-background-border, .item-card {
  border: solid grey 2px;
  box-shadow: 0px 0px 10px 0px grey;
  border-radius: 5px;
}

.item-card {
  text-align: center;
  padding: 10px;
  width: 23%;
  height: 50%;
  float: left;
  margin: 10px;
  cursor: pointer;
}

.my-dropdown {
  float: right;
  margin: 10px;
}

.sidebar, .account-sidebar {
  background-color: whitesmoke;
  width: 25%;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  float: left;
  z-index: 1;
  position: fixed;
  display: none;
}

.sidebar-icon {
  color: #FFFF33;
  padding: 10px;
  border: 2px solid #FFFF33;
  border-radius: 5px;
  margin: 0.5%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
@media screen and (max-width: 1000px) {
  .sidebar-icon {
    margin: 3%;
    size: 2em;
  }
}

.account-sidebar {
  float: right;
  right: 0;
}

.my-searchbar {
  border-radius: 5px;
}

.sidebar-item {
  color: #4b5658;
}

.checked {
  color: orange;
}

.fa-star-o {
  color: orange;
}

.mobile-brand {
  margin-left: 34%;
}

.mobile-searchbar {
  width: 100%;
}

.mobile-dropdown {
  width: 100%;
  height: 100%;
  text-align: center;
}

.mobile-item {
  padding: 1%;
}

.store-main-image, .store-main-image-woman {
  height: 18%;
  width: 18%;
  margin: 1%;
}

.promotion-div {
  text-align: center;
  background-color: lightcoral;
}

.store-main-image-woman {
  height: 30%;
  width: 30%;
}

.store-main-slogan {
  color: #FFFF33;
}

/*# sourceMappingURL=styles.css.map */
