$main_text_color: #4b5658;
$main_background_color: white;
$navbar_color: #133c7d;
$brand_color: #FFFF33;


body, html {
    background-color: $main_background_color;
    overflow-x: hidden;
}

.my-text {
    font-family: 'Times New Roman', Times, serif;
    color: $main_text_color;
}

.my-nav {
    @extend .my-text;
    background-color: $navbar_color;
    box-shadow: 0px 1px 15px 1px black;
    color: $main_text_color;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}



.my-brand {
    @extend .my-text;
    color: $brand_color;
    padding: 5px;
    font-size: 40px;
    text-shadow: 0px 4px 10px black;
}

.my-brand:hover {
    color: $brand_color;
    text-decoration: none;
}

.main-app-div {
    margin-left: 10px;
    padding: 10px;
}

.my-links {
    @extend .my-text;
    font-size: larger;
    padding: 10px;
    margin: 10px;
}

.my-links:hover {
    color: #171b1c;
    text-decoration: none;
}

.my-nav-links {
    @extend .my-links;
    float: right;
    color: $brand_color;
}

.my-nav-links:hover {
    color: $brand_color;
    text-decoration: none;
}

.error-message {
    text-align: center;
    color: red;
}

.form-button {
    @extend .my-text;
    text-align: center;
    background-color: $navbar_color;
    color: $brand_color;
    padding: 5px;
    border-radius: 10px;
}

.form-background-border {
    border: solid grey 2px;
    box-shadow: 0px 0px 10px 0px grey;
    border-radius: 5px;
}

.form-label {
    @extend .my-text;
}

input {
    @extend .my-text;
}

.item-card {
    @extend .form-background-border;
    text-align: center;
    padding: 10px;
    width: 23%;
    height: 50%;
    float: left;
    margin: 10px;
    cursor: pointer;
}

p {
    @extend .my-text;
}

.my-dropdown {
    float: right;
    margin: 10px;
}

a {
    @extend .my-text;
}

.sidebar {
    background-color: whitesmoke;
    width: 25%;
    padding: 10px;
    border: 2px solid grey;
    border-radius: 5px;
    float:left; 
    z-index: 1;
    position: fixed;
    display: none;
}

.sidebar-icon{
    color: $brand_color;
    padding: 10px;
    border: 2px solid $brand_color;
    border-radius: 5px;
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.account-sidebar {
    @extend .sidebar;
    float: right;
    right: 0;
}

.my-searchbar {
    border-radius: 5px;
}

.sidebar-item{
    color: $main_text_color;
}

.checked {
    color: orange;
}

.fa-star-o {
    color: orange;
}