$main_text_color: #000000;
$main_background_color: #f0f0e6;
$nav_color: #133c7d;

body, html {
    background-color: $main_background_color;
    overflow-x: hidden;
}

.MyText {
    font-family: 'Times New Roman', Times, serif;
    color: $main_text_color;
}

.MyNav {
    @extend .MyText;
    background-color: $nav_color;
    box-shadow: 0px 5px 15px 5px black;
    color: $main_text_color;
}



.MyBrand {
    @extend .MyText;
    color: goldenrod;
    padding: 5px;
    font-size: 40px;
    text-shadow: 0px 4px 10px black;
}

.MyBrand:hover {
    color: goldenrod;
    text-decoration: none;
}

.MainAppDiv {
    margin-left: 10px;
    padding: 10px;
}

.MyNavLinks {
    @extend .MyText;
    color: goldenrod;
    text-shadow: 0px 4px 10px black;
    font-size: larger;
    padding: 10px;
    float: right;
    margin: 10px;
}

.MyNavLinks:hover {
    color: goldenrod;
    text-decoration: none;
}