{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Valdivian</title>
{% endblock %}

{% block script %}

{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br>
<h4 class="my-text" style="text-align:center;">TODO</h4>
<br><br>
<br><br>
<br><br>
<br>
<br>
<br>
<h4 class="my-text" style="text-align:center;">TODO</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4 class="my-text" style="text-align:center;">TODO</h4>
<br><br>
<br><br>
<h4 class="my-text" style="text-align:center;">TODO</h4>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h4 class="my-text" style="text-align:center;">TODO</h4>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<h1>TODO</h1>


{% endblock %}