{% extends 'layout.html' %}
{% load static %}

{% block title %}
<title>Valdivian</title>
{% endblock %}

{% block script %}

{% endblock %}

{% block body %}
    <div class="promotion-div">
        <br>
        <h1 class="store-main-slogan">Online Shopping Made Easy</h1>
        <img src="{% static 'media/store-icon.png' %}" alt="" class="store-main-image">
        <img src="{% static 'media/store-icon-woman.png' %}" alt="" class="store-main-image-woman">
    </div>

    <a href="/update-product-database">CLICK MEEEEEE</a>
{% endblock %}