<!DOCTYPE html>

<html lang="en">
{% load static %}

<head>
    {% block title %}
    <title>Valdivian</title>
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="{% static 'scripts/open-sidebar.js' %}"></script>
    <script src="{% static 'scripts/open-account-sidebar.js' %}"></script>
    {% block script %}

    {% endblock %}
</head>

<body>
    <br>
    <br>
    <nav class="my-nav" hidden>
        <a href="#" onclick="open_sidebar()" id="sidebar_opener_icon">
            <i class="fa fa-bars fa-lg sidebar-icon"></i>
        </a>
        <i class="col-1"></i>
        <i class="col-1"></i>
        <a href="/" class="my-brand col-2">Valdivian</a>
        {% if current_page != 'login/register' %}
        <input type="text" placeholder="Search..." class="col-6 offset-2 my-searchbar">
        {% endif %}
        <a href="#" class="my-nav-links col-1" onclick="open_account_sidebar()">Account</a>
    </nav>

    <nav class="my-mobile-nav">
        <a href="#" onclick="open_sidebar()" id="sidebar_opener_icon">
            <i class="fa fa-bars fa-lg sidebar-icon"></i>
        </a>
        <a href="/" class="my-brand col-2 mobile-brand">Valdivian</a>
    </nav>

    <div class="sidebar dropdown slide-up mobile-dropdown">
        <h1 class="my-text">Welcome</h1>
        {% if current_page != 'login/register' %}
        <input type="text" placeholder="Search..." class="col-6 offset-2 my-searchbar mobile-searchbar">
        {% endif %}
        {% if user == '' %}
        <div class="sidebar-item">
            <a href="/login" class="my-links">Login</a>
        </div>
        <div class="sidebar-item">
            <a href="/register" class="my-links">Register</a>
        </div>
        {% endif %}
        <div class="sidebar-item">
            <a href="/book-section" class="my-links">Book Section</a>
        </div>
        <div class="sidebar-item">
            <a href="/electronics-section" class="my-links">Electronics Section</a>
        </div>
        {% if user != '' %}
        <br>
        <div class="sidebar-item">
            <a href="/logout" class="my-links">Logout</a>
        </div>
        {% endif %}
    </div>

    <div class="sidebar dropdown slide-up desktop-dropdown" hidden>
        <br>
        <h1 class="my-text">Welcome</h1>
        <div class="sidebar-item">
            <a href="/book-section" class="my-links">Book Section</a>
        </div>
        <div class="sidebar-item">
            <a href="/electronics-section" class="my-links">Electronics Section</a>
        </div>
    </div>
    <div class="account-sidebar">
        <br>
        {% if user == '' %}
        <div class="sidebar-item">
            <a href="/login" class="my-links">Login</a>
        </div>
        <div class="sidebar-item">
            <a href="/register" class="my-links">Register</a>
        </div>
        {% else %}
        <div class="sidebar-item">
            <a href="/logout" class="my-links">Logout</a>
        </div>
        {% endif %}
    </div>
    <br>
    {% csrf_token %}
    <div class="body-block">
        {% block body %}


        {% endblock %}
    </div>

</body>

</html>