{% extends 'layout.html' %}
{% load static %}

{% block title %}
    <title>Login</title>
{% endblock %}

{% block script %}
    <script src="{% static 'scripts/check-inputs.js' %}"></script>
    <script src="{% static 'scripts/form-enter-press.js' %}"></script>
{% endblock %}

{% block body %}
    <br>
    <div class="form-background-border col-4 offset-4">
        <form onsubmit="return checkInputs()" action="/login" method="POST">
            <br>
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" autocomplete="off" name="email">
            <label for="password" class="form-label">Password:</label>
            <input type="password" id="password" class="form-control" autocomplete="off" name="password">
            {% csrf_token %}
            <br>
        </form>
        <button class="form-button col-2 offset-5" onclick="$('form').submit()">Login</button>
        <br>
        <br>
        <p class="error-message">{{ error }}</p>
    </div>
    <br>
{% endblock %}